<div>
    <label (click)="GoToHomePage()" >home</label>
</div>

<div class="col">
    <div class="operation-area">
        <form [formGroup]="formPost" class="g-form" (ngSubmit)="CadastrarAnimal()">
            <div class="col">
                <div class="g-input">
                    <label>Código da fazenda</label>
                    <input formControlName="farmId" id="input-farmid" type="number" min="0"/>
                </div>
                
                <div class="g-input">
                    <label>Nome do animal</label>
                    <input formControlName="name" id="input-animalname" type="text"/>
                </div>
                
                <div class="g-input">
                    <label>Tag do animal</label>
                    <input formControlName="tag" id="input-animaltag" type="text"/>
                </div>
                <button ype="submit" class="g-button"> cadastrar</button>
            </div>
        </form>
    </div>

    <div class="operation-area">
        <label>Update animal</label>
        <form [formGroup]="formUpdate" class="g-form" (ngSubmit)="UpdateAnimal()">
            <div style="flex-flow: column;">
                <div class="g-input">
                    <label>Id do animal</label>
                    <input formControlName="id" type="number" min="0"/>
                </div>
        
                <div class="g-input">
                    <label>Código da fazenda</label>
                    <input formControlName="farmId" type="number" min="0"/>
                </div>
        
                <div class="g-input">
                    <label>Nome do animal</label>
                    <input formControlName="name" type="text"/>
                </div>
                
                <div class="g-input">
                    <label>Tag do animal</label>
                    <input formControlName="tag" type="text"/>
                </div>
                <button type="submit" class="g-button"> atualizar</button>
            </div>
        </form>
    </div>

    <div class="operation-area"> 
        <label>Delete animal</label>
        <form [formGroup]="formDelete" class="g-form" (ngSubmit)="DeleteAnimal()">
            <div class="col">
                <div class="g-input">
                    <label>Id do animal</label>
                    <input formControlName="id" type="number" min="0"/>
                </div>
                <button type="submit" class="g-button"> deletar</button>
            </div> 
        </form>
    </div>

    <div class="operation-area">
        <label>Post Batch</label>
        <form [formGroup]="formPostBatch" class="g-form" (ngSubmit)="AddToBatch()">
            <div class="col">
                <div class="g-input">
                    <label>Código da fazenda</label>
                    <input formControlName="farmId" type="number" min="0"/>
                </div>
                
                <div class="g-input">
                    <label>Nome do animal</label>
                    <input formControlName="name" type="text"/>
                </div>
                
                <div class="g-input">
                    <label>Tag do animal</label>
                    <input formControlName="tag" type="text"/>
                </div>
                <button type="submit" class="g-button"> cadastrar</button>
            </div>

        </form>
        <span> animalListLength = {{ animalListLength }} </span>
        <div (click)="PostBatch()" > clique aq para cadastrar</div>

    </div>
</div>

<div>
    <div class="operation-area">
        <form [formGroup]="formGetAnimalById" class="g-form">
            <div class="g-input">
                <label>get by id</label>
                <input formControlName="id" type="number" min="0"/>
                <button (click)="GetAnimalById()" ></button>
            </div>
        </form>
    </div>
    
    <div class="container">
        <section class="animal-list-section">
            <h2>Listagem de Animais</h2>
            <div class="animal-list">
                <ng-container *ngFor="let card of [].constructor(3)">
                    <div class="animal-card">
                        <div>
                            <h3>Animal</h3>
                        </div>
                        <div>
                            <p>Nome: nomeanimal</p>
                            <p>Tag: #tag123</p>
                            <p>Fazenda: primeirafazenda</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </section>
    </div>
</div>