/* You can add global styles to this file, and also import other style files */

:root{
    --cor-primaria-fazenda: #e2af06;
    --cor-secundaria-fazenda: #dd7805;

    --cor-primaria-animal: #59c403;
    --cor-secundaria-animal: #367a02;

    --cor-fundo-principal: #3bb900;
    --cor-preto-principal: #020b1d;


    


    div{
        display: flex;

        &.farm{
            --cor-primaria: var(--cor-primaria-fazenda);
            --cor-secundaria: var(--cor-secundaria-fazenda);
        }
        &.animal{
            --cor-primaria: var(--cor-primaria-animal);
            --cor-secundaria: var(--cor-secundaria-animal);
        }
    }

    body{
        margin:0;
    }
    display: flex;
}

.g-form{
    display:flex;
    flex-flow: row;
    padding: 16px;
    width: 100%;
    justify-content: center;
    box-shadow: #020b1d 0px 0px 8px;

    span{
        align-self: center;
    }

    .g-input{
        display: flex;
        flex-direction: column;
        padding: 4px 16px;
        input{
            padding: 8px;
            margin-bottom: 12px; 
            border: solid 1px var(--cor-primaria);
            border-radius: 4px;
            outline: none;
            &:focus{
                border: solid 1px var(--cor-secundaria);
            }
        }
    
        label{
            padding: 0vw 1vw;

        }
    }
}

.g-button{
    width: 100%;
    padding: 8px;
    border: solid 1px var(--cor-primaria);
    border-radius: 4px;
    background-color: var(--cor-primaria);
    color: white;
    font-weight: bold;
    cursor: pointer;
    max-height: 45px;

    &:hover{
        background-color: var(--cor-secundaria);
        border: solid 1px var(--cor-secundaria);
    }
}








.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}




.list-section {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 58vw;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    max-width: 58vw;
    overflow-x: auto;
    // scroll-snap-type: x mandatory;
    padding-top:16px
}

.list-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-flow: column;

    .card-info{
        display: flex;
        flex-flow: row;
        gap: 10px;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }

    h3{
        font-size: 1.5rem;
        color: #4CAF50;
        margin-bottom: 10px;
    }

    p {
        font-size: 1.1rem;
        color: #555;
    }

    p span {
        font-weight: bold;
    }
}



.content{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-flow: column;
}

.home-page-card-holder{
    // border: solid 1px black; 
    display: flex; 
    gap: 2vw;
    position: absolute;
    translate: -50% -50%;
    left: 50%;
    top: 50%;

    label{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
      
        &.animal{
            color: var(--cor-primaria-animal);
        }
        &.farm{
            color: var(--cor-primaria-fazenda);
        }
        
    }
}

.home-page-card{
    width: 300px; 
    height: 300px;
    // border: solid 1px aqua; 
    border-radius: 8%;

    img{
        width: 100%; 
        height: 100%; 
        border-radius: 8%;
        box-shadow: #020b1d 0px 0px 8px;
    }
    
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.05);
    }

    
}

.home-background{
    background: rgb(14,57,1);
    background: linear-gradient(60deg, rgba(14,57,1,1) 0%, rgb(40, 99, 25) 30%, rgba(2,51,0,1) 75%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-background{
    background: rgb(14,57,1);
    background: linear-gradient(60deg, rgba(14,57,1,1) 0%, rgb(40, 99, 25) 30%, rgba(2,51,0,1) 75%);
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    &.farm{
        background: rgb(167, 144, 16);
        background: linear-gradient(60deg, rgb(134, 112, 10) 0%, rgb(145, 136, 12) 30%, rgb(92, 86, 2) 75%);
    }
}

.home-page-button{
    width: 20vw;
    button{
        width: 15vw;
        height: 10vh;
        background-color: var(--cor-primaria);
        outline: none;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
    justify-content: start;
    align-items: center;

    label{
        font-size: 1.5vw;
        font-weight: bold;
        pointer-events: none;
        color:#ebeceb;
    }
}



.page-header{
    width: 100vw;
    height: 10vh;
    
    .header-title{
        font-size: 26px;
        color: white;
        flex-grow: 1;
        width: 60vw;
        margin: 0;
    }

    .header-trademark{
        font-size: 22px;
        color: white;
        width: 20vw;
        height: 10vh;
    }

    .header-home-button{
    }
}

.working-area{
    padding:16px;
    // border: solid 1px black;
    width: 60vw;
    box-shadow: #020b1d 0px 0px 8px;
    background-color: #ebeceb;
}

.operation-area{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // border: solid 1px black;
    // min-width: 9vw;
    max-width: 100%;
    min-height: 20vh;

    .input-area{
        // border: #020b1d solid 1px;
    }

    h3{
        font-size: 22px;
        color: #020b1d;
    }

}

.col{
    flex-flow: column;
}

.row{
    flex-flow: row;
}

.align-center{
    align-items: center;
}
.align-start{
    align-items: start;
}
.justify-center{
    justify-content: center;
}