/* You can add global styles to this file, and also import other style files */

:root{
    --cor-primaria-fazenda: #e2af06;
    --cor-secundaria-fazenda: #dd7805;

    --cor-primaria-animal: #59c403;
    --cor-secundaria-animal: #204900;

    --cor-fundo-principal: #3bb900;
    --cor-preto-principal: #020b1d;



    div{
        // border: solid 1px var(--cor-secundaria-fazenda);
        display: flex;
    }

    body{
        margin:0;
    }
    display: flex;
}

.g-form{
    display:flex;
    flex-flow: row;
    padding: 16px;
    width: 100%;

    .g-input{
        display: flex;
        flex-direction: column;
        padding: 4px 16px;
        input{
            width: 100%;
            padding: 8px;
            margin-bottom: 12px; 
            border: solid 1px var(--cor-primaria-animal);
            border-radius: 4px;
            outline: none;
            &:focus{
                border: solid 1px var(--cor-secundaria-animal);
            }
        }
    
        label{
            padding: 0vw 1vw;

        }
    }
}

.g-button{
    width: 100%;
    margin: 16px 10px;
    padding: 8px;
    border: solid 1px var(--cor-primaria-animal);
    border-radius: 4px;
    background-color: var(--cor-primaria-animal);
    color: white;
    font-weight: bold;
    cursor: pointer;
    max-height: 45px;
}

.home-page-button{
    button{
        width: 10vw;
        height: 6vw;
        background-color:#d5e2e0;
        outline: none;
        border: solid 1px wheat;

    }
    border: 1px solid burlywood;
    justify-content: start;
    align-items: center;

    label{
        font-size: 1.5vw;
    }
}

.operation-area{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid 1px black;
}




.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}




.animal-list-section {
    background-color: #fafafa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.animal-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.animal-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-flow: column;
}
.animal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.animal-card h3 {
    font-size: 1.5rem;
    color: #4CAF50;
    margin-bottom: 10px;
    
}

.animal-card p {
    font-size: 1.1rem;
    color: #555;
}

.animal-card p span {
    font-weight: bold;
}



.content{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-flow: column;
}

.home-page-card-holder{
    // border: solid 1px black; 
    display: flex; 
    gap: 2vw;
    position: absolute;
    translate: -50% -50%;
    left: 50%;
    top: 50%;

    label{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 10px;
      
        &.animal{
            color: var(--cor-primaria-animal);
        }
        &.farm{
            color: var(--cor-primaria-fazenda);
        }
        
    }
}

.home-page-card{
    width: 300px; 
    height: 300px;
    // border: solid 1px aqua; 
    border-radius: 8%;

    img{
        width: 100%; 
        height: 100%; 
        border-radius: 8%;
        box-shadow: #020b1d 0px 0px 8px;
    }
    
    transition: transform 0.3s ease;
    &:hover{
        transform: scale(1.05);
    }

    
}

.home-background{
    background: rgb(14,57,1);
    background: linear-gradient(60deg, rgba(14,57,1,1) 0%, rgb(40, 99, 25) 30%, rgba(2,51,0,1) 75%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}



.col{
    flex-flow: column;
}

.row{
    flex-flow: row;
}

.align-center{
    align-items: center;
}
.align-start{
    align-items: start;
}
.justify-center{
    justify-content: center;
}